.topo{
	position: absolute;
	left: 10px;
	top: 10px;
	width:1334px;
	height: 655px;
	background-color: ;
}

.logo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 250px;
	height: 200px;
	background: #A9A9A9 url ('../imgs/logo.png') no-repeat left bottom;
}

.menu_esquerdo{
	position: absolute;
	left: 0px;
	top: 200px;
	width: 250px;
	height: 400px;
	background-color: ;
}

.centro{
	position: absolute;
	left: 0px;
	top: 250px;
	width: 774px;
	height: 450px;
	background-color: ;
}


	

.tabela{
	width: 500%;
	border-left: 1px;
	color: ;
}

.borda{
	text-align: left;
	border-bottom: 0px solid;
	width: 2000px;
	height: 30px;
	background-color: ;
	
}

.figura{
	width:100%;
	height: 480px;
	left: 300px;
}
.OI{
	position: absolute;
	left: 630px;
	top: 250px;
	width: 705px;
	height: 200px;
	background-color: #;
}
.figura2{
	width:82%;
	height: 480px;
	left: 300px;
}
	
	

